body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    background-color: #bbb389;
}
h2 {
    padding: 10px;
    background-color: #d6d1b8;
    color: black;
    border-bottom: 5px solid black;
    text-align: center;
    font-size: 50px;
}
p{
    font-size: 40px;
}
li{
    font-size: 35px;
    padding-top: 15px;
}
