body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    background-color: #d6d1b8 ;
} 
.foto{
    width: 800px;
    height: 800px;
    display: block; 
    margin: 0 auto;

}
