body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    background-color: #d6d1b8 ;
    display: flex;
    justify-content: center;
}

.conteiner{
    background-color: #bbb389;
    width: 1500px;
    height: 1750px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding-left: 30px;
}    
h1{
    padding: 10px;
    background-color: #a8a17f;
    color: black;
    border-bottom: 5px solid black;
    text-align: center;
}
li{
    font-size: 45px;
}
p{
    font-size: 30px;
    padding-top: 5px;
}
.rodape{
    padding: 1,75em 0;
    font-size: 1.1rem;
}
.rodape__logo{
    width: 6em;
}
.rodape__copyright{
    display: inline;
    margin-left: 1em;
}