body{
    font-family: 'Lucida Sans', Helvetica, sans-serif;
    color: black;
}
h1{
    padding: 10px;
    background-color: #e3dec5;
    color: black;
    border-bottom: 5px solid black;
    text-align: center;
}
